<section>
  <div class="container-login">
    <img class="logo" src="/assets/imgs/logo.svg" alt="" />
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit($event)">
      <h2>Vamos criar sua conta</h2>
      <app-generic-input
        labelText="Email"
        placeholderText="Ex: sara@gmail.com"
      ></app-generic-input>
      <app-generic-input
        typeOfInput="password"
        labelText="Digite sua senha"
        placeholderText="Digite a sua senha"
      ></app-generic-input>
      <app-generic-input
        typeOfInput="password"
        labelText="Confirme a sua senha"
        placeholderText="Digite a sua senha"
      ></app-generic-input>
      <div class="form-container">
        <label for="tipoCadastro">Você quer se cadastrar como</label>
        <div class="container-checkboxes">
          <div>
            <input
              type="radio"
              id="empresa-input"
              name="tipoUsuario"
              (change)="updateTipoCadastro('Empresa')"
            />
            <label for="empresa-input">Empresa</label>
          </div>
          <div>
            <input
              type="radio"
              id="restaurante-input"
              name="tipoUsuario"
              (change)="updateTipoCadastro('Restaurante')"
            />
            <label for="restaurante-input">Restaurante</label>
          </div>
        </div>
      </div>
      <h1 *ngIf="tipoCadastro">{{ tipoCadastro }}</h1>
      <div *ngIf="tipoCadastro === 'Restaurante'">
        <app-generic-input
          labelText="Nome do restaurante"
          placeholderText="Digite o nome do seu restaurante"
        ></app-generic-input>
        <app-generic-input
          labelText="CNPJ"
          placeholderText="Digite o CNPJ do seu restaurante"
          typeOfInput="text"
        >
        </app-generic-input>
      </div>
      <button class="btn-entrar" type="submit">Cadastrar</button>
      <button class="btn-cadastrar" type="button" [routerLink]="['/login']">
        Retornar para o login
      </button>
      <p class="texto-esqueceu-senha">Esqueci a senha</p>
      <div class="container-info-restaurante"></div>
    </form>
  </div>
</section>
