<section>
  <div class="container-login">
    <img class="logo" src="/assets/imgs/logo.svg" alt="" />
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit($event)">
      <h2>Vamos criar sua conta</h2>

      <!-- Campo de Email -->
      <div class="form-container">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          placeholder="Ex: sara@gmail.com"
        />
      </div>

      <!-- Campo de Senha -->
      <div class="form-container">
        <label for="password">Digite sua senha</label>
        <input
          formControlName="password"
          type="password"
          placeholder="Digite a sua senha"
        />
      </div>

      <!-- Campo de Confirmação de Senha -->
      <div class="form-container">
        <label for="confirmPassword">Confirme a sua senha</label>
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Digite a sua senha novamente"
        />
      </div>

      <!-- Seleção de Tipo de Usuário -->
      <div class="form-container">
        <label for="tipoUsuario">Você quer se cadastrar como</label>
        <div class="container-checkboxes">
          <div>
            <input
              type="radio"
              id="empresa-input"
              value="empresa"
              formControlName="tipoUsuario"
            />
            <label for="empresa-input">Empresa</label>
          </div>
          <div>
            <input
              type="radio"
              id="restaurante-input"
              value="restaurante"
              formControlName="tipoUsuario"
              (change)="updateTipoCadastro('Restaurante')"
            />
            <label for="restaurante-input">Restaurante</label>
          </div>
        </div>
      </div>

      <!-- Seção específica para Restaurante -->
      <div *ngIf="tipoCadastro === 'Restaurante'">
        <div class="form-container">
          <label for="nomeRestaurante">Nome do restaurante</label>
          <input
            formControlName="tipoUsuario"
            type="text"
            placeholder="Digite o nome do seu restaurante"
          />
        </div>
        <div class="form-container">
          <label for="cnpj">CNPJ</label>
          <input
            formControlName="tipoUsuario"
            type="text"
            placeholder="Digite o CNPJ do seu restaurante"
          />
        </div>
      </div>

      <!-- Botões de Ação -->
      <button class="btn-entrar" type="submit">Cadastrar</button>
      <button class="btn-cadastrar" type="button" [routerLink]="['/login']">
        Retornar para o login
      </button>
      <p class="texto-esqueceu-senha">Esqueci a senha</p>
    </form>
  </div>
</section>
