<main>
    <!-- Seção "Como Funciona?" -->
    <section class="comoFunciona">
      <!-- Fundo Vermelho -->
      <img src="../../../../assets/imgs/comofunciona.png" alt="fundo vermelho">
      <!-- Conteúdo Escrito -->
      <div class="content">
        <h2>COMO FUNCIONA?</h2>

        <!-- Cards explicando como funciona -->
        <div class="card-wrap">
          <div class="card">

          </div>
          <div class="card">

          </div>

          <div class="card">

          </div>

          <div class="card">

          </div>

        </div>
      </div>
    </section>
    <article class="opinioes"></article>
  </main>
