@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  height: 100vh;
  /* background-image: url("https://img.freepik.com/premium-vector/seamless-background-food-drink-icons-vector-illustration_257845-3131.jpg?w=826"); */
  background: #1d1d1d;
  position: relative;
}
