.nav-bar {
  height: 70px;
  width: 100%;
  border: 1px solid rgba(194, 194, 194, 0.315);
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  box-shadow: 3px 6px 6px 4px rgba(0, 0, 0, 0.274);
  background: white;
}

.lista-links {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.lista-links > *:hover {
  cursor: pointer;
}

.lista-links > *.active {
  color: orange;
}

.lista-links li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.active {
  color: orange;
}

.link-container.active p {
  color: orange;
}
