.infinity-scroll-container {
	overflow: hidden;
	position: relative;
	display: flex;
	column-gap: 2rem;
}

.infinity-scroll-container:hover .cards-slider {
	animation-play-state: paused;
}

.cards-slider {
	display: flex;
	width: fit-content;
	column-gap: 2rem;
	animation: slide infinite linear;
}

.infinity-scroll-container::before,
.infinity-scroll-container::after {
	position: absolute;
	top: 0;
	width: 200px;
	height: 100%;
	z-index: 2;
	content: "";
}

.infinity-scroll-container::before {
	left: 0;
	background: linear-gradient(to left, rgba(255, 255, 255, 0), #f4f4f4);
}
.infinity-scroll-container::after {
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #f4f4f4);
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
