.rating-card {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 8px;
	padding: 4px 6px;
	border: 1px solid rgba(128, 128, 128, 0.144);
	box-shadow: 3px 5px 2px rgba(229, 140, 140, 0.048);
}

.rating-text {
	opacity: 0.6;
}

.userName {
	font-weight: 700;
	font-size: 18px;
}
