<footer>
    <div class="footer-content">
        <div class="logo-text">
            <div class="logo">
                <img src="../../../assets/imgs/Logo-white.svg" alt="logo">
                <h4>FoodClub</h4>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia minima molestias similique accusamus. Hic quod veniam autem harum itaque. Tempore eaque minus, deleniti expedita fugit excepturi eveniet quae vel ullam.
            </p>
        </div>

        <div class="contact-icons">
            <div class="contact">
                <h4>Contact Us</h4>
                <p>adnmocinsd</p>
                <p>cmaikeow</p>´
                <p>edwgesgse</p>
            </div>
            <div class="icons">
                <h4>Follow Us</h4>
                <img src="" alt="icon - facebook">
                <img src="" alt="icon - instagram">
                <img src="" alt="icon - twitter">
            
            </div>
        </div>
    </div>
    <hr>

    <p>© 2024 Adobe Inc. All rights reserved.</p>
</footer>
